<!DOCTYPE html>
<html lang="en">
<head>
    <title>SBU Hacks</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyCxTpclH4z-kmWbZ9DUyQEPMjp4_f1vZFY",
            authDomain: "cancer-visualization.firebaseapp.com",
            databaseURL: "https://cancer-visualization.firebaseio.com",
            projectId: "cancer-visualization",
            storageBucket: "cancer-visualization.appspot.com",
            messagingSenderId: "48483558599"
        };
        firebase.initializeApp(config);
    </script>
    <!-- jQuery -->
    <script src="../static/script/jquery-3.3.1.min.js"></script>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Graph -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Local -->
    <script src="static/script/app.js"></script>
    <link rel="stylesheet" href="static/style/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Cancer Data Visualizer</h1>
                <div id="main-background" class="row jumbotron extended-height">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h2>Comparison by Feature</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <h3>Graph</h3>
                                <hr>
                            </div>
                            <div class="col-3">
                                <h3>Feature</h3>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <div id="graph">

                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group mb-3">
                                    <select id="feature_selection">
                                        <option value="select" selected>Select</option>
                                        <option value="age_group">Age</option>
                                        <option value="race">Race</option>
                                        <option value="stage">Tumor Stage</option>
                                        <option value="gender">Gender</option>
                                        <option value="tobacco_history">Tobacco Dose</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>